body,
html {
  margin: 0;
  padding: 0;
  background-color: #edede9;
  font-family: "Roboto", sans-serif;
  padding-bottom: 60px;
}

h1 {
  font-size: 1.1rem;
  letter-spacing: 4px;
  margin-left: 0.5rem;
}

h2 {
  font-size: 2rem;
  margin-left: 1.8rem;
  text-align: center;
  padding-top: 0.2rem;
}

h3 {
  margin-left: 1.8rem;
}

li {
  margin: 0.6rem 0;
  letter-spacing: 1px;
}

ol {
  font-weight: bold;
}

.score-name {
  font-weight: bold;
  color: #034c53;
}

.score-label {
  font-weight: bold;
  color: #03292c;
}

.server-header {
  background-color: #034c53;
  color: white;
  padding: 0.5rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.server-header a {
  color: white;
  text-decoration: none;
  padding-left: 1rem;
  font-size: 0.9rem;
}

.server-footer {
  text-align: center;
  padding: 1rem;
  background-color: #034c53;
  box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.1);
  position: fixed;
  bottom: 0;
  width: 100%;
  color: white;
  font-size: 0.875rem;
}

.error-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.error-image {
  width: 70%;
  max-width: 400px;
  height: auto;
}

.error-message {
  background-color: #ffebeb;
  color: #d32f2f;
  font-weight: bold;
  padding: 12px;
  border: 2px solid #d32f2f;
  border-radius: 8px;
  text-align: center;
  margin: 20px auto;
  width: fit-content;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

@media (min-width: 901px) {
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
  }
}
